<div class="profile-container h-100">
  <div class="profile__header">
    <img src="./icons/profile.png" alt="" />
  </div>
  <div class="profile__body row mt-3 g-5">
    <div class="left col-md-4">
      <app-card class="card-wrapper">
        <div class="card__header">Info</div>
        <div class="card__body mt-5">
          <ng-container *ngIf="(status$ | async) !== 'pending'; else skeletonLoader">
            <div class="form__container">
              <form [formGroup]="infoForm">
                <app-form-input
                  inputId="displayName"
                  label="Username"
                  formControlName="displayName"
                />

                <app-form-input
                  inputId="firstName"
                  label="First Name"
                  formControlName="firstName"
                />

                <app-form-input
                  inputId="lastName"
                  label="Last Name"
                  formControlName="lastName"
                />

                <app-form-button
                  [disabled]="infoForm.invalid || (status$ | async) === 'loading' || !!(isUnchanged$ | async)"
                  [showLoader]="(status$ | async) === 'loading'"
                  (click)="handleSubmit()"
                >
                  Save
                </app-form-button>
              </form>
            </div>
          </ng-container>
          <ng-template #skeletonLoader>
            <ngx-skeleton-loader
            count="3"
            [theme]="{ 'margin-top': '3rem', 'margin-bottom': '3rem' }"
            appearance="line"
             />
          </ng-template>


        </div>
      </app-card>
    </div>

    <div class="right col-md-8">
      <app-card>
        <div class="card__header-2">
          <div class="header__item">0 followers</div>
          <div class="header__item">0 following</div>
          <div class="header__item">0 likes</div>
        </div>
        <div class="card__body-2">
          <div class="body__title">
            Properties
          </div>
          <div class="body__list">
            <app-icon-button>
             <span class="icon-text">+</span>
            </app-icon-button>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>
