@import '../variables.scss';
.u-mt {
    margin-top: 10px;
    margin-bottom: 30px;
}

.u-pt {
  padding-top: 10px;
  padding-bottom: 30px;

}
@keyframes backgroundMotion {
  0% {
      background-position: 0 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0 50%;
  }
}

.background-gradient {
  background-blend-mode: screen;
  background-color: lighten($color-primary-light, 6);
  background-size: 400% 400%;
  width: 100%;
}
