<div class="box-entry full" routerLink="/property-detail/{{ property.id }}">
  <ngx-skeleton-loader
    *ngIf="imageLoading"
    [theme]="{ 'min-height': '300px', 'width': '300px' }"
  ></ngx-skeleton-loader>
  <img
    *ngIf="!imageLoading && loadedImageUrl"
    class="property-img"
    [src]="loadedImageUrl"
  />
  <div *ngIf="!imageLoading" class="text-container">
    <div class="text">
      <h2 class="box-entry__title">{{ property.name }}</h2>
      <h3 class="box-entry__sub-title">{{ property.city }}</h3>
    </div>
    <app-like-button [isLiked]="isLiked" [likesCount]="property.likes" (buttonClicked)="handleIconClick($event, property.id, isLiked)"></app-like-button>
    <!-- <div class="like-container">
      <div (click)="handleIconClick($event, property.id, isLiked)" class="heart-container" [class.active]="isLiked">
        <i class="fa-regular fa-heart heart-outline"></i>

        <i class="fa-solid fa-heart heart-fill"></i>
      </div>
      <div class="like__text" [class.invisible]="!property.likes">
        <span>{{property.likes}}</span>
      </div>
    </div> -->


    </div>
  </div>
