<div #menu class="menu">
</div>
<div #menuList class="menu-list">
  <ul class="menu-list__items">
    <ng-container *ngFor="let item of listItems">
      <li *ngIf="isItemVisible(item)" #navLinkMenu class="menu-list__item"  (click)="navigate(item, navLinkMenu, true)">
        <span #menuText class="menu-list__text"> {{ item.name }}</span>
       </li>
    </ng-container>
  </ul>
</div>
<nav class="navbar-custom">

  <a class="logo" routerLink="/">
     PROPER-T
  </a>

  <ul class="navbar-custom__list">
    <ng-container *ngFor="let item of listItems">
      <li #navLink class="navbar-custom__list-item" *ngIf="item.type === 0 || ((isAuthenticated$ | async) === true) && item.type === 1 || ((isAuthenticated$ | async) === false && item.type === 2)" >
        <a class="navbar-custom__link" (click)="navigate(item, navLink)">{{ item.name }}</a>
      </li>
    </ng-container>
  </ul>
  <div class="menu">
    <div class="navbar-custom__btn-container" (click)="toggleMenu()">
      <a class="btn btn-menu btn-no-padding">
        <svg width="100%" height="100%" viewBox="0 0 100 100">
          <line class="line-one" [class.active]="active" x1="25" x2="75" y1="30" y2="30" stroke="black" stroke-width="4px" />
          <line class="line-two" [class.active]="active" x1="25" x2="75" y1="50" y2="50" stroke="black" stroke-width="4px" />
          <line class="line-three" [class.active]="active" x1="25" x2="75" y1="70" y2="70" stroke="black" stroke-width="4px" id="bottomLine" />
        </svg>
      </a>
    </div>
  </div>

</nav>
