@import '../../../variables.scss';
@import '../../../mixins.scss';
.box {
    border-width: 2px 2px 2px 0;
    margin-top: -2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    position: relative;
    overflow: hidden;

    .description-text-container {
        font-size: 1.6rem;
    }
    &.style-hovered:hover  {
        background-color: darken($tertiary-color, 55);
    }
    &.style-hovered:hover &__title {
        color: $tertiary-color;
    }
    &.style-hovered:hover &__sub-title {
        color: white;
    }
    .pagination-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .arrow-button {
            font-size: 1.6rem;
            border-bottom: 1px solid black;
            color: darken($tertiary-color, 55);
            padding: 1rem 2rem;
            transition: transform .3s cubic-bezier(1,.02,0,.95);
            transform: translateY(0);
            position: relative;

            &:hover {
                cursor: pointer;
                transform: translateY(-.3rem);
                border-color: darken($tertiary-color, 55);
            }

            &::after {
                content: '';
                position: absolute;
                opacity: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px; // Adjust this height as needed
                background-color: black;
                transition: bottom .3s cubic-bezier(1,.02,0,.95), opacity .5s;
            }

            &:hover::after {
                bottom: -.4rem; // Adjust to match the translateY(-.3rem) of the .arrow-button
                opacity: 1;
                background-color: darken($tertiary-color, 55); // Adjust color as needed
            }
        }
    }
    &.flex {
        display: flex;
        justify-content: left;
        align-items: center;
        &.column {
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 2rem;
        }

        &.align-end {
            align-items: end;
        }
    }
    &.pad {
        padding: 5rem;
        @include respond(phone) {
          padding: 2rem;
        }
    }

    .icons-container {
        font-size: 3rem;
        // position: absolute;
        // transform: translate(0, -50%);
        // top: 50%;
        // left: 6rem;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .icon-child {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: flex-start;
            align-items: center;
        }

        .icon {
            &.gold {
                background-color: darken($tertiary-color, 55);
            }
            &.burgundy {
                background-color: lighten($alt-color, 10);
            }
            &.grey {
                background-color: $background-color;
            }
            width: 5rem;
            text-align: center;
        }

        .icon-text {
            color: black;
            font-family: $body-font;
            font-weight: 200;
            font-style: normal;
        }
    }

    & &__title {
        color: black;
        font-family: $heading-font;
        font-weight: 400;
        font-style: normal;
        transition: color .5s;
        font-size: 4rem;
      }

      & &__sub-title {
        color: black;
        font-family: $body-font;
        font-size: 2rem;
        font-optical-sizing: auto;
        transition: color .5s cubic-bezier(0,-0.02,1,.33);
        font-weight: 200;
        font-style: normal;
      }

      .text-container {
        opacity: 1;
        transition: opacity .3s, bottom .5s;
      }
      .property-img {
        transition: all 0.2s;
        object-fit: cover;
        object-position: 50% 50%;
        height: 100%;
        width: 100%;
        position: relative;
        &.small {
            height: 400px;
            width: 400px;
        }
      }
    &.limit-height {
        border-width: 2px 2px 0 0;
        max-height: calc(100vh);
        position: sticky;
        top: 0;
    }
    &.limit-height-lg {
        border-width: 2px 2px 0 0;
        max-height: calc(100vh);
        position: sticky;
        top: 0;
    }

    /* Non-sticky version for smaller screens */
    @media (max-width: 576px) {
        &.limit-height-lg {
            position: relative;
            border-width: 2px;
            max-height: none;
        }
    }
}
.relative {
    position: relative;
}
.min-200 {
    height: 190vh;
}

.full-height {
    height: 100%;
}

.half-height {
    height: 50%;
}

.image-container {
  position: relative;

  & .three-d-icon {
    position: absolute;
    // background-color: white;
    top: 6rem;
    right: 6rem;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }

    & .icon-text {
      color: white;
      display: inline-block;
      font-size: 1.6rem;
      overflow: hidden;
      & .text-inner {
        display: block;
        transform: translateX(-100%);
      }
    }

    i {
      font-size: 3rem;
      color: white;
      // transform: translateX(100%);
    }
  }
}
.like-button {
  position: absolute;
  bottom: 6rem;
  right: 9rem;
  z-index: 2;
}
.link-to-3D {
  font-size: 1.6rem;
  &:hover {
    cursor: pointer;
  }
}
