<div class="row min-200">
    <div class="col-sm-9 order-sm-2 order-1 box limit-height-lg pad">
        <img *ngIf="property?.photo" class="property-img" src="{{property.photo}}">
    </div>
    <div class="col-sm-3 order-sm-1 order-2 relative">
        <div class="row full-height">
            <div class="col-12 box style-hovered flex align-end p-5">
                <div class="text-container mb-5">
                    <h2 class="box__title">{{ property.name }}</h2>  
                    <h3 class="box__sub-title">{{ property.city }}</h3>    
                </div>
            </div>
            <div class="col-12 box flex p-5">
                <div class="icons-container">
                    <div class="icon-child">
                        <div class="icon gold">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <h4 class="icon-text">{{property.city}}</h4>
                    </div>
                    <div class="icon-child">
                        <div class="icon burgundy">
                            <i class="fa fa-building"></i>
                        </div>
                        <h4 class="icon-text">{{property.propertyType}}</h4>
                    </div>
                    <div class="icon-child">
                        <div class="icon grey">
                            <i class="fa fa-money"></i>
                        </div>
                        <h4 class="icon-text">{{property.price}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-12 box flex p-5">
                <div class="description-text-container">
                    <p>{{property.description}}</p>
                </div>
            </div>
            <div class="col-12 box pad flex column">
                <img *ngIf="property?.photo" class="property-img small" src="{{property.photo}}">
                <div class="pagination-container">
                    <div class="arrow-button">
                        <i class="fa fa-long-arrow-left"></i> Back
                    </div>
                    <div class="arrow-button">
                        Next <i class="fa fa-long-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
