<div class="card w-75 h-75">
  <div class="login-form-header">
    <h1 class="login-form-title u-mb-2">
      Your account
    </h1>
  </div>

  <div class="form__container">
    <form>
      <div class="form__group">
          <label htmlFor="email" class='form__label'>Email</label>
          <input type="email" id="email"
            autocomplete="username"
              class="form__input" required />
      </div>

      <div class="form__group">
          <label htmlFor="password" class='form__label'>Password</label>
          <input type="password" id="password"
          autocomplete="new-password"
              class="form__input" required />
      </div>

      <div *ngIf="isSignup" class="form__group">
          <label htmlFor="confirmPassword" class='form__label'>Confirm Password</label>
          <input type="password" id="confirmPassword"
          autocomplete="confirm-new-password"
          class="form__input" required />
      </div>
      <div class="form__button-container">
          <a class="btn btn-form" type='submit'>
            {{ isSignup ? "Sign up" : "Log in" }}
          </a >
      </div>
  </form>

  <div class="form__footer">
      <hr />
      <div class="form__footer-text">
          <div class="form__footer-text">
              Don't have an account?
          </div>
          <a class="btn form__footer-text" (click)="handleOnSignup()">
              {{ isSignup ? "Log in" : "Sign up" }}
          </a>


      </div>
  </div>
  </div>
</div>
