<div class="form__group">
  <label [for]="inputId" class="form__label">{{ label }}</label>
  <input
    [id]="inputId"
    [type]="type"
    [autocomplete]="autocomplete"
    class="form__input"
    [required]="required"
    [disabled]="isDisabled"
    [value]="value"
    (input)="onInputChange($event)"
    (blur)="onInputBlur()"
  />
  <ng-container *ngFor="let error of errors">
    <small class="text-danger" *ngIf="error.show">
      {{ error.text }}
      <br />
    </small>
  </ng-container>
</div>
