@import '../public/forms.css';
@import '../public/tabs.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
html {
    font-size: 62.5%;
}
