$primary-color: #FFD700;
$secondary-color: #002147;
$tertiary-color: #FFFDD0;
$alt-color: #800020;
$background-color: #36454F;

// Fonts
$heading-font: "Anton SC", sans-serif;
$body-font: "Montserrat", sans-serif;